body {
    background-image: url(images/webp.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header>ul>li {
    display: inline-block;
}

header {
    background-color: black;
    height: 45px;
    margin-top: -17px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    line-height: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid white;
}

header>ul>li>a {
    padding: 0px 35px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.header>li {
    list-style: none;
}

a:hover {
    color: purple;
}

.form-control {
    width: 100%;
    width: 400px;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
}

#napthe {
    margin-top: 50px;
}

div {
    padding: 10px 20px;
}

form label {
    color: white;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}