body {
    background-image: url(images/webp.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
header {
    background-color: black;
    height:45px;
    margin-top:-17px;
    margin-left:-10px;
    margin-right:-10px;
    text-align: center;
    line-height: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border:1px solid white;
}
header>ul>li {
    display:inline-block;
}
.header>li{
    list-style: none;
}
header>ul>li>a{
    padding:0px 35px;
    font-size:20px;
    color:white;
    text-decoration: none;
}
header>ul>li>a:hover{
    color:blueviolet;
    
}
.left {
    left: -30px;
    color:white;
    float:left;
    position: absolute;
}
.right {
    right:15px;
    color:white;
    float:right;
    position: absolute;
}
.column {
    width: 25%;
    float: left;
    text-align: center;
    border: 1px;
    margin-top:50px;
}

.games {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: blurred thickness 5px gray;
    padding: 10px;
    margin: 5px;
    text-align: middle;
    font-family: 'Open Sans', sans-serif;
}

.games>img {
    width: 175px;
    height: 170px;
}

.game {
    color: white;
    background-color: gray;
    text-align:center;
    padding: 10px 0px;
    bottom:-36%;
    width:100%;
    font-size:large;
}
.game:hover {
    background-color: purple;
}
.game>a{
    text-decoration: none;
    color:white;
}